:root {
  --purple-dark: #7400b8;
  --purple-middle: #6930c3;
  --purple-soft: #5e60ce;
  --blue-dark: #5390d9;
  --blue-middle: #4ea8de;
  --blue-sky: #56cfe1;
  --blue-soft: #80ffdb;
  --white: #ffffff;
  --black: #000;
  --fucsia: #f20089;
  --pink: #e500a4;
  --pink-middle: #ff99b6;
  --pink-soft: #ffadc7;
}
body {
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}
h1 {
  background-color: var(--blue-sky);
  color: var(--purple-soft);
  display: grid;
  justify-content: center;
  font-size: 50px;
  height: 60px;
  border-radius: 40px;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
 
}
#preguntas1 {
  display: none;
}
#preguntas2 {
  display: none;
}
#preguntas3 {
  display: none;
}
#final {
  display: none;
}
#cronometro{
    display: none;
}
.presentacion {
  background-color: var(--pink-middle);
  color: var(--black);
  display: grid;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
  height: 35px;
  border-radius: 30px;
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 100px;
}
p {
  background-color: var(--pink-middle);
  color: var(--white);
  font-size: 30px;
  font-weight: bold;
  display: grid;
  justify-content: center;
  height: auto;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 200px;
  margin-right: 200px;
}
#name-input {
  color: var(black);
  font-size: 16px;
  display: inline-block;
  text-align: center;
  height: 40px;
  width: 500px;
  border-radius: 35px;
  margin-top: auto;
  border-color: var(--purple-soft);
  margin-left: 400px;
}
#start-button {
  background-color: var(--blue-soft);
  color: var(black);
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  height: 40px;
  width: 200px;
  border-radius: 25px;
  margin-top: auto;
  margin: 0;
  text-align: center;
  border-color: var(--blue-soft);
  margin-left: 30px;
}
#start-button:hover {
  background-color: var(--purple-middle);
  border-color: var(--purple-middle);
  color: var(--white);
}
.RevoluciónQ, .autorQ, .capitalQ {
  background-color: var(--pink);
  color: var(--black);
  font-size: 20px;
  display: grid;
  justify-content: center;
  border-radius: 35px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 500px;
  margin-right: 500px;
}
#button-check, #button-check2, #button-check3 {
    background-color:var(--purple-middle);
    font-size: 16px;
    display: inline-block;
    height: 50px;
    width: 80px;
    border-radius: 25px;
    border-color: var(--purple-middle);
    margin: 20px;

}
#button-next, #button-next2, #button-next3{
    background-color: var(--purple-dark);
    font-size: 16px;
    display: inline-block;
    height: 50px;
    width: 80px;
    border-radius: 25px;
    border-color: var(--purple-dark);
    margin: 20px;
}
.final {
  background-color: var(--pink-middle);
  color: var(--white);
  font-size: 40px;
  font-weight: bold;
  display: grid;
  justify-content: center;
  height: auto;
  border-radius: 20px;
  margin-left: 400px;
  margin-right: 400px;
}
#name-input::placeholder {
  color: var(--black);
}
#cronometro {
  background-color: var(--pink-soft);
  height: 100px;
  width: 100px;
  font-size: 30px;
  border-radius: 50px;
  place-content: center;
}
#mensajeRespuesta1{
    height: 100px;
    width: 100px;
    font-size: 20px;
    
}
