:root {
  --purple-dark: #7400b8;
  --purple-middle: #6930c3;
  --purple-soft: #5e60ce;
  --blue-dark: #5390d9;
  --blue-middle: #4ea8de;
  --blue-sky: #56cfe1;
  --blue-soft: #80ffdb;
  --white: #ffffff;
  --black: #000;
  --fucsia: #f20089;
  --pink: #e500a4;
  --pink-middle: #ff99b6;
  --pink-soft: #ffadc7;
}
body {
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}
h1 {
  color: var(--purple-soft);
  display: grid;
  justify-content: center;
  font-size: 50px;
  height: 60px;
  border-radius: 40px;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
 
}
#preguntas1 {
  display: none;
}
#preguntas2 {
  display: none;
}
#preguntas3 {
  display: none;
}
#final {
  display: none;
}
#cronometro{
    display: none;
}
#pgeneral-button {
  display: none;
} 
#ppop-button {
  display: none;
}

.presentacion {
  background-color: var(--pink-middle);
  color: var(--black);
  display: grid;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
  height: 35px;
  border-radius: 30px;
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 100px;
}
p {
  background-color: var(--pink-middle);
  color: var(--white);
  font-size: 30px;
  font-weight: bold;
  display: grid;
  justify-content: center;
  height: auto;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 250px;
  margin-right: 250px;
}
#name-input {
  color: var(black);
  font-size: 16px;
  display: inline-block;
  text-align: center;
  height: 40px;
  width: 400px;
  border-radius: 35px;
  margin-top: auto;
  border-color: var(--purple-soft);
  margin-left: 400px;
}
#start-button {
  background-color: var(--pink-middle);
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  width: 200px;
  border-radius: 25px;
  margin-top: auto;
  margin: 0;
  text-align: center;
  border-color: var(--pink-middle);
  margin-left: 30px;
}
#start-button:hover {
  background-color: var(--pink-soft);
  border-color: var(--pink-soft);
  color: var(--white);
}
.pop-general {
  background-color:var(--purple-soft);
  font-size: 14px;
  color: var(--white);
  font-weight: bold;
  display: inline-block;
  height: 50px;
  width: 120px;
  padding:10px;
  border-radius: 25px;
  border-color: var(--purple-soft);
  margin: 0%;
}
.pop-general:hover{
  background-color: var(--purple-middle) ;
}
.RevoluciónQ, .autorQ, .capitalQ {
  background-color:var(--purple-middle);
  font-size: 20px;
  display: block;
  text-align: center;
  font-weight: bold;
  border-radius: 25px;
  border-color: var(--purple-dark);
  margin: 20px; 
  height: 40px;
}
.RevoluciónQ:hover, .autorQ:hover, .capitalQ:hover {
  background-color: var(--purple-soft);
  border-color: var(--purple-middle);
  color: var(--black);
}
#button-check:hover, #button-check2:hover, #button-check3:hover {
  background-color: var(--pink-middle);
  border-color: var(--pink-middle);
  color: var(--white);
}
#button-next, #button-next2, #button-next3{
    background-color: var(--blue-middle);
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    height: 70px;
    width: 150px;
    border-radius: 25px;
    border-color: var(--blue-dark);
    margin: 40px;
}
#button-next:hover, #button-next2:hover, #button-next3:hover {
  background-color: var(--purple-middle);
  border-color: var(--blue-dark);
  color: var(--white);
}
.final {
  background-color: var(--pink-middle);
  color: var(--white);
  font-size: 40px;
  font-weight: bold;
  display: grid;
  justify-content: center;
  height: auto;
  border-radius: 20px;
  margin-left: 400px;
  margin-right: 400px;
}
#volver-a-jugar {
  background-color: var(--purple-soft);
    font-size: 20px;
    display: inline-block;
    height: 70px;
    width: 150px;
    border-radius: 25px;
    border-color: var(--purple-soft);
    margin: 40px;
    margin-top: 30px;
    font-weight: bold;
}
#volver-a-jugar:hover {
  background-color: var(--blue-dark);
  border-color: var(--blue-middle);
  color: var(--white);
}
#name-input::placeholder{
  color: var(--black);
}
#cronometro {
  background-color: var(--pink-soft);
  height: 100px;
  width: 100px;
  font-size: 30px;
  border-radius: 50px;
  place-content: center;
}
#mensajeRespuesta1{
    height: 100px;
    width: 100px;
    font-size: 20px;  
}
#score{
  background-image: url(/Pics/fondo.jpg);
  background-color: var(--blue-middle);
  color: var(--black);
  font-size: 50px;
  display: block;
  text-align: center;
}
